/* =================== */
/* BASIC SETUP */
/* =================== */

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family:'Titilium', sans-serif;
    text-rendering: optimizeLegibility;
}

ul li {
    list-style-type: none
}

/* HEADING */

h1{
    font-size: 4.3rem;
    color: #fff;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
    visibility: hidden;
}

/* =================== */
/* REUSABLE COMPONENT */
/* =================== */

.row {
    max-width: 114.0rem;
    margin:auto;
}

section {
    padding: 8rem 0;
}

h2 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 600;
    margin-bottom: 2em;
    color: #fff
}

h2::after {
    content: '';
    display: block;
    height: .4rem;
    background: white;
    width: 8.5rem;
    margin: auto;
    margin-top: 2rem;
}

/* BUTTON */
.btn:link,
.btn:visited,
.btn {
    background: #333;
    border-bottom: .3rem solid #000;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 6rem;
    border-radius: 0.3rem;
    display: inline-block;
    margin-top: 4.0rem;
    font-size: 1.6rem;
}

/* paragraph */



/* =================== */
/* HEADER SECTION */
/* =================== */

header {
    background: linear-gradient(#87509cee, #87509cea), url('img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 85vh;
    Position: relative;
}
.logo {
    height: 3.5rem;
    width: auto;
    margin-top: 3.5rem;
    float: left;
}

/* MAIN NAVIGATION */

.main-nav {
    float:right;
    margin-top: 4.0rem;
}

.main-nav li {
    display: inline-block;
    margin-left: 1rem;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: #643a7900;
    padding: 0.6rem 1.6rem;
    border-radius: 0.3rem;
    display: inline-block;
    font-size: 1.6rem;
    transition: 0.3s;
}

.main-nav li:hover a:link,
.main-nav li:hover a:visited {
    background: #643a79;
}

.main-nav li:first-child {
    margin-left: 0rem;
}

.active {
    background: #643a79;
    border-radius:0.3rem;
}

.hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn-hero:link,
.btn-hero:visited {
    background: #eb7d4b;
    border-color: #c86a40;
}

/* =================== */
/* SERVICES SECTION */
/* =================== */

.services-section {
    color: #fff;
    text-align: center;
    background: #17c2a4;
}